<div class="row">
	<%= form_for([current_user, @job]) do |f| %>
		<div class="col-md-2">
			<%= f.text_field :title, class:"form-control", placeholder: "title" %>
		</div>
		<div class="col-md-2">
			<%= f.text_field :category, class:"form-control", placeholder: "category" %>
		</div>
		<div class="col-md-4">
			<%= f.submit "create a job",:class=>"lb-button"  %>
		</div>
	<% end %>
</div>