<div class="footer">
  <div class="footer__image-wrapper">
    <%= image_tag('https://s3-us-west-2.amazonaws.com/mashedin/images/fusionrlwhite.png', 
      class:"frl-logo-white")%>
  </div>
  <div class="footer__info">
    <div class="footer__info-item">
      <%= image_tag('https://s3-us-west-2.amazonaws.com/mashedin/images/maps.png', 
        class:"footer__info-icon")%>

      <span class="footer__info-words">141 W Front St <br> Suite 340<br> Red Bank, NJ 07701</span>
    </div>
    <div class="footer__info-item">
      <%= image_tag('https://s3-us-west-2.amazonaws.com/mashedin/images/mail.png', 
        class:"footer__info-icon")%>

      <span class="footer__info-words">support@fusionrl.com</span>
    </div>
    <div class="footer__info-item">
      <%= image_tag('https://s3-us-west-2.amazonaws.com/mashedin/images/phone.png', 
        class:"footer__info-icon")%>

      <span class="footer__info-words">844-205-2555</span>
    </div>
  </div>
</div>